<app-navbar-style-one></app-navbar-style-one>

<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Avis</h3>
            <ul>
                <li><a href="index.html">Acceuil</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>Avis</li>
            </ul>
        </div>
    </div>

    <div class="inner-banner-shape">
        <div class="shape-one"><img src="assets/img/inner-banner/banner-shape1.png" alt="Images"></div>
        <div class="shape-two"><img src="assets/img/inner-banner/banner-shape2.png" alt="Images"></div>
        <div class="shape-three"><img src="assets/img/inner-banner/banner-shape3.png" alt="Images"></div>
        <div class="inner-banner-dots"><img src="assets/img/shape/dots-shape.png" alt="Images"></div>
    </div>
</div>

<div class="testimonials-widget-area pt-50 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span class="sp-before sp-after">Avis</span>
            <h2 class="h2-color2">Les commentaires de nos clients</h2> 
        </div>

        <div class="row pt-45">
            <div class="col-lg-6">
                <div class="testimonial-widget-item">
                    <p>I chose Zinka because of their value And incredible superior customer Service they really awesome treated me like family.</p>
                    <div class="content">
                        <img src="assets/img/testimonial/testimonial-img1.png" alt="Images">
                        <div class="content-title">
                            <h3>David McLean</h3>
                            <span>Propriétaire d'un chien</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="testimonial-widget-item">
                    <p>I chose Zinka because of their value And incredible superior customer Service they really awesome treated me like family.</p>
                    <div class="content">
                        <img src="assets/img/testimonial/testimonial-img2.png" alt="Images">
                        <div class="content-title">
                            <h3>Jermin Jekson</h3>
                            <span>Propriétaire d'une chatte</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="testimonial-widget-item">
                    <p>I chose Zinka because of their value And incredible superior customer Service they really awesome treated me like family.</p>
                    <div class="content">
                        <img src="assets/img/testimonial/testimonial-img3.png" alt="Images">
                        <div class="content-title">
                            <h3>Julfiker Jeain</h3>
                            <span>Propriétaire d'un Hamster</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="testimonial-widget-item">
                    <p>I chose Zinka because of their value And incredible superior customer Service they really awesome treated me like family.</p>
                    <div class="content">
                        <img src="assets/img/testimonial/testimonial-img4.png" alt="Images">
                        <div class="content-title">
                            <h3>Hobler Jeain</h3>
                            <span> Propriétaire d'un Caniche et une Chatte</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="pagination-area text-center">
                    <a routerLink="/testimonials" class="prev page-numbers"><i class="bx bx-chevron-left"></i></a>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a routerLink="/testimonials" class="page-numbers">2</a>
                    <a routerLink="/testimonials" class="page-numbers">3</a>
                    <a routerLink="/testimonials" class="page-numbers">4</a>
                    <a routerLink="/testimonials" class="next page-numbers"><i class="bx bx-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer-style-two></app-footer-style-two>
